<!--Hmm, so Django templates are like HTML files with special spots for dynamic
    info, huh? That's pretty cool. It's like they let you create web pages that
    can change based on what you feed them. Separates the design from the 
    code, making it easier to manage. Neat stuff!-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <h2>{{title}}</h2>
    <p>{{ content }}</p>
    <style>
        h1 {
            color: aqua;
        }
    </style>
</body>
</html>
